@model Inlupp1ProduktPresentation.Models.ViewModels.ProductDetailsViewModel
@{
    ViewData["Title"] = @Model.Name;
}

<div class="container justify-content-center">
    <img class="img-fluid mx-auto d-block" src="~/img/product/@(Model.ImageName).jpeg" style="max-width: 400px; height: auto;" />
    <div class="text-center">
        <h1 class="display-4">@Model.Name</h1>

        @Model.Description <br />
        @Model.Price kronor
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function() {

            $(function RenderBreadcrumb() {

                $('.breadcrumbs').append('<li class="breadcrumbs__item"></li>');
                $('a.breadcrumbs__link').removeClass('breadcrumbs__link--active');
                $('li.breadcrumbs__item:last').append('<a href="#" class="breadcrumbs__link breadcrumbs__link--active">@Model.Name</a>');

            });
        });
    </script>
}