@model Inlupp1ProduktPresentation.Models.ViewModels.ProductIndexViewModel
@{
    ViewData["Title"] = @Model.Title;
}

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
    <p>Klicka på produkt nedan.</p>
</div>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-lg-4 col-md-6 p-5 text-center" style="letter-spacing: .2em; text-transform: uppercase;">
            <img class="img-fluid" src="~/img/product/@(product.ImageName).jpeg"/>
            <a class="nav-link text-secondary" asp-controller="Product" asp-action="Details" asp-route-Id="@product.Id"><h4>@product.Name</h4></a>
            <p>
                <b>@product.Description</b><br/>
                @product.Price kronor
            </p>
        </div>
    }
</div>