@using System.Diagnostics.Eventing.Reader
@model Inlupp1ProduktPresentation.Models.ViewModels.AdminAllProductsViewModel
@*@model Microsoft.AspNetCore.Identity.UserLoginInfo*@
@{
    ViewData["Title"] = "Alla Produkter";
}


<div class="text-center">
    <h1 class="display-4">Alla produkter</h1>
</div>
<div class="m-2">
    Antal produkter: @Model.NumberOfProducts
    <a asp-controller="Admin" asp-action="NewProduct" style="background-color: rgb(64, 145, 108);" class="btn btn-sm active btn-secondary" role="button" aria-pressed="true">Lägg till produkt</a>
</div>
<div class="m-2">
    <form method="get" asp-controller="Admin" asp-action="AllProducts" class="form-inline ml-1 my-2 my-lg-0 input-group-sm">
        <input type="search" name="searchInput" class="form-control mr-sm-2" placeholder="Sök produktnamn">
        <button class="btn btn-sm btn-outline-light my-2 my-sm-0" style="border-radius: .25rem;" type="submit">Sök</button>
    </form>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Produktnamn</th>
            <th scope="col">Beskrivning</th>
            <th scope="col">Kategori</th>
            <th scope="col">Pris</th>
            <th scope="col text-center">Publicerad</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Category</td>
                <td>@product.Price</td>
                @if (product.IsPublished)
                {
                    <td class="text-center">&#x2714;</td>
                }
                else
                {
                    <td class="text-center">&#x2718;</td>
                }
                <td><a asp-controller="Admin" asp-action="EditProduct" asp-route-Id="@product.Id" class="btn btn-primary btn-sm active" style="background-color: rgb(64, 145, 108)" role="button" aria-pressed="true">Redigera</a></td>
                <td><a asp-controller="Admin" asp-action="DeleteProduct" asp-route-Id="@product.Id" class="btn btn-primary btn-sm active" style="background-color: rgb(64, 145, 108)" role="button" aria-pressed="true">Ta bort</a></td>
            </tr>
        }
    </tbody>
</table>


@section Scripts
{
    <script>
        $(document).ready(function() {

            $(function RenderBreadcrumb() {

                $('.breadcrumbs').append('<li class="breadcrumbs__item"></li>');
                $('a.breadcrumbs__link').removeClass('breadcrumbs__link--active');
                $('li.breadcrumbs__item:last').append('<a href="/Admin/AllProducts" class="breadcrumbs__link breadcrumbs__link--active">Alla produkter</a>');

            });
        });
    </script>
}
